@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono&:100,200,300,400,500,600,700');

.massive-heading {
    color: black;
    font-family: "Coda Caption", sans-serif;
    font-weight: bolder;
    font-size: 10vh;
    /* letter-spacing: .5vw; */
    /* text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
}

h2, h3, p {
    font-family: "Space Mono", sans-serif;
    font-weight: 100;
}