@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

/* General Styling */
h2, h3, p {
    font-family: "Space Mono", sans-serif;
    font-weight: 500;
}

.breathing-space {
    height: 5vh;
    background-color: black;
}

.bottom-margin {
    height: 20vh;
}

.audio-player {
    display: block;
    border: 1px solid black;
    border-radius: 25px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky; 
    top: 25px;
}

.sticky-preview {
    position: -webkit-sticky;
    position: sticky; 
    top: 25px;
}

.footer {
    height: 1px;
    width: 100%;
    background-color: #2EF429;
    position: fixed;
    bottom: 0;
}

.header-border {
    border-top: 1px solid #2EF429;
}

.foo {
    background-color: red;
}

/* Headers that appear with the searches - artist / song / preview */
.category-header {
    color: black;
    margin-top: 25vh;
    font-weight: bolder;
    font-size: 40px;
    /* border-bottom: 1px solid #2EF429; */
}

/* Header with word 'music' */
.massive-heading {
    color: black;
    font-family: "Teko", sans-serif;
    font-size: 200px;
    font-weight: bold;
    letter-spacing: .5vw;
    margin: 10vh 0 0 5vw;
}

/* Text below header */
.intro {
    font-size: 25px;
    margin-left: 5vw;
    color: black;
}

/* Bar where you type in artist name */
#search, #search-small {
    font-family: "Space Mono", sans-serif;
    font-size: 25px;
    border-color: grey;
    border-width: 1px;
    margin: 5vh 0 5vh 5vw;
    padding: 10px 20px;
}

input {
    color: black;
}

/* Button to click when searching for artist */
#search-button {
    font-family: "Space Mono", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background: black;
    margin: 0 2.5vw;
    padding: 10px 20px;
    border: 1px solid black;
}

/* Artist names and songs that are returned from search */
#artists, #clickable-songs {
    background-color: white;
    color: black;
    border: none;
    font-family: "Space Mono", sans-serif;
    font-size: 18px;
    margin: 1vh 0;
    padding: 0 0 0 0;
    text-align: left;
}

#artist-names, #song-results {
    padding-left: 0px;
}


/* Text with next step instructions for user */
#next-step {
    color: black;
    font-weight: bold;
    font-size: 22px;
    /* margin-top: 5vh; */
    border-bottom: 1px solid #2EF429;
}

#artists:hover, #clickable-songs:hover {
    background-color: #2EF429;
    font-weight: bold;
}

#artists:active, #clickable-songs:active {
    background-color: white;
    color: black;
}

#search-button:hover {
    background-color: #2EF429;
    color: black;
    border: none;
}

#search-button:active {
    background-color: white;
    color: black;
}


/* -------------------------------------------------------------- Media Queries */

/* Text appearing at the top in a small screen */
@media (min-width: 992px) {
    .visible-small {
        display: none;
    }
}

/* Fixing glitch in search button when screen reduces in size between small laptop to tablet */
@media (max-width: 1305px) {
    #search-button {
        margin: 0 2.5vw 0 5vw;
    }
}

/* Between tablet and mobile size */
@media (max-width: 991px) and (min-width: 425px) {
    .massive-heading {
        font-size: 175px;
        font-weight: bold;
        letter-spacing: .5vw;
        margin: 4vh 0 0 5vw;
    }
}

/* Up to tablet size */
@media (max-width: 991px) {
    .visible-small {
        color:black;
    }

    .disappear-small {
        display: none;
    }

    #artists, #clickable-songs {
        font-size: 18px;
        color: black;
    }

    #small-artist-header, #small-songs-header, #sm-listen-header {
        font-size: 25px;
        color:black;
        font-weight: bold;
    }

    #next-step {
        font-size: 15px;
        color: black;
    }

    #search-button {
        margin-bottom: 5vh;
    }
}


/* Up to mobile size */

@media (min-width: 576px) {
    .visible-xs {
        display: none;
    }

    .mobile-header {
        display: none;
    }
}

@media (max-width: 575px) {
    .disappear-xs {
        display: none;
    }

    #small-songs-list {
        border: none!important;
    }

    .massive-heading {
        margin-top: 0px;
    }

    .audio-player {
        position: fixed;
        top: 10px;
        width: 80%;
        margin-left: 10%;
    }

    .mobile-header {
        align-content: center;
        height: 9vh;
        background-color: white;
        z-index: 4;
        display: block;
    }
}

@media (max-width: 426px) {
    .intro, #search-small, #search-button {
        font-size: 20px;
    }

    #search-button {
        padding: 10px 20px;
        margin: 0 0 5vh 5vw;
        width: 90%;
    }

    #search {
        width: 90%;
    }

    /* #search-small {
        margin: 3vh 0 3vh 5vw;
        padding: 10px 20px;
        width: 100%;
    } */

    .massive-heading {
        font-size: 125px;
    }
}